<a href="https://colab.research.google.com/github/EliaHarel/IST210_PSU_Fall2019/blob/master/Assignment_4/Group_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3
connectionToDatabase = sqlite3.connect('BestBuy') 
cursor = connectionToDatabase.cursor()


############################### Creating the tables ###############################
cursor.execute('''CREATE TABLE IF NOT EXISTS Stores (storeID INT PRIMARY KEY, Address TEXT, Number_of_Workers INT, ManagerID INT, Phone_Number TEXT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Workers (workerID INT PRIMARY KEY, Name TEXT, Seniority INT, Salary REAL, StoreID INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Customers (customerID INT PRIMARY KEY, Name TEXT, Email TEXT, Payment_Method TEXT, Store_Credit REAL, Preferred_Store INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Product (ProductID INT PRIMARY KEY, Name TEXT, Retail_Price REAL, SupplierID INT, Unit_Sold INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Suppliers (SupplierID INT PRIMARY KEY, Name TEXT, Address TEXT, Email TEXT, Balance REAL)''')
connectionToDatabase.commit()

########################## Insert values into the tables ##########################
# Stores Table
cursor.execute('''INSERT INTO Stores 	VALUES (10, '123 Street Rd', 17, 378, '555-123-4567')''')
cursor.execute('''INSERT INTO Stores 	VALUES (11, '4263 Apple St', 26, 253, '555-634-6453')''')
cursor.execute('''INSERT INTO Stores 	VALUES (12, '76 Vault Rd', 17, 783, '555-167-3645')''')
cursor.execute('''INSERT INTO Stores 	VALUES (13, '253 Pollock Rd', 17, 265, '555-735-8254')''')
cursor.execute('''INSERT INTO Stores 	VALUES (14, '42 Duglas Rd', 17, 734, '555-846-7463')''')
# Workers Table
cursor.execute('''INSERT INTO Workers 	VALUES (21, 'JaredJared', 2, 4000, 10)''')
cursor.execute('''INSERT INTO Workers 	VALUES (22, 'EliaElia', 3, 	6000, 10)''')
cursor.execute('''INSERT INTO Workers 	VALUES (23, 'GrantGrant', 5, 8000, 12)''')
cursor.execute('''INSERT INTO Workers 	VALUES (24, 'BobbyBobby', 10, 7000, 12)''')
cursor.execute('''INSERT INTO Workers 	VALUES (25, 'EliEli', 15, 7000, 13)''')
# Customers Table
cursor.execute('''INSERT INTO Customers VALUES (31, 'Jared', 'Jared@Gmail.com',	'Credit', 0, 11)''')
cursor.execute('''INSERT INTO Customers VALUES (32, 'Elia', 'Elia@Gmail.com', 'Bitcon', 20, 12)''')
cursor.execute('''INSERT INTO Customers VALUES (33, 'Grant', 'Grant@Gmail.com',	'Cash', 25, 13)''')
cursor.execute('''INSERT INTO Customers VALUES (34, 'Bobby', 'Bobby@Gmail.com',	'Debit', 10, 14)''')
cursor.execute('''INSERT INTO Customers VALUES (35, 'Eli', 'Eli@Gmail.com',	  'Credit', 50, 15)''')
# Product Table
cursor.execute('''INSERT INTO Product 	VALUES (41, 'Headphones', 300, 51, 0)''')
cursor.execute('''INSERT INTO Product 	VALUES (42, 'Laptops', 400, 52, 20)''')
cursor.execute('''INSERT INTO Product 	VALUES (43, "TV\'s", 250, 53, 25)''')
cursor.execute('''INSERT INTO Product 	VALUES (44, 'Mice', 100, 54, 10)''')
cursor.execute('''INSERT INTO Product 	VALUES (45, 'Keyboards', 100, 55, 50)''')
# Suppliers Table
cursor.execute('''INSERT INTO Suppliers VALUES (51, 'Microsoft', '501 Street Rd', 'Microsoft@Microsoft.com',  0)''')
cursor.execute('''INSERT INTO Suppliers VALUES (52, 'Amazon', '502 Street Rd', 'Amazon@Amazon.com', -1000)''')
cursor.execute('''INSERT INTO Suppliers VALUES (53, 'Jaybird', '503 Street Rd', 'Jaybird@Jaybird.com', 1000)''')
cursor.execute('''INSERT INTO Suppliers VALUES (54, 'Asus', '504 Street Rd', 'Asus@Asus.com', 5000)''')
cursor.execute('''INSERT INTO Suppliers VALUES (55, 'Logistics', '505 Street Rd', 'Logistics@Logistics.com', -5000)''')

#ERD Diagram
We did not change the diagram
![](./Best_Buy_ERD.png)

#**Questions**

#####Question 1
What is the total balance