<a href="https://colab.research.google.com/github/EliaHarel/IST210_PSU_Fall2019/blob/master/Assignment_4/Group_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3
connectionToDatabase = sqlite3.connect('BestBuy') 
cursor = connectionToDatabase.cursor()


############################### Creating the tables ###############################
cursor.execute('''CREATE TABLE IF NOT EXISTS Stores (storeID INT PRIMARY KEY, Address TEXT, Number_of_Workers INT, ManagerID INT, Phone_Number TEXT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Workers (workerID INT PRIMARY KEY, Name TEXT, Seniority INT, Salary REAL, StoreID INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Customers (customerID INT PRIMARY KEY, Name TEXT, Email TEXT, Payment_Method TEXT, Store_Credit REAL, Preferred_Store INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Product (ProductID INT PRIMARY KEY, Name TEXT, Retail_Price REAL, SupplierID INT, Unit_Sold INT)''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Suppliers (SupplierID INT PRIMARY KEY, Name TEXT, Address TEXT, Email TEXT, Balance REAL)''')
connectionToDatabase.commit()

########################## Insert values into the tables ##########################
# Stores Table
cursor.execute('''INSERT INTO Stores 	VALUES (10, '123 Street Rd', 17, 378, '555-123-4567')''')
cursor.execute('''INSERT INTO Stores 	VALUES (11, '4263 Apple St', 26, 253, '555-634-6453')''')
cursor.execute('''INSERT INTO Stores 	VALUES (12, '76 Vault Rd', 17, 783, '555-167-3645')''')
cursor.execute('''INSERT INTO Stores 	VALUES (13, '253 Pollock Rd', 17, 265, '555-735-8254')''')
cursor.execute('''INSERT INTO Stores 	VALUES (14, '42 Duglas Rd', 17, 734, '555-846-7463')''')
# Workers Table
cursor.execute('''INSERT INTO Workers 	VALUES (21, 'JaredJared', 2, 4000, 10)''')
cursor.execute('''INSERT INTO Workers 	VALUES (22, 'EliaElia', 3, 	6000, 10)''')
cursor.execute('''INSERT INTO Workers 	VALUES (23, 'GrantGrant', 5, 8000, 12)''')
cursor.execute('''INSERT INTO Workers 	VALUES (24, 'BobbyBobby', 10, 7000, 12)''')
cursor.execute('''INSERT INTO Workers 	VALUES (25, 'EliEli', 15, 7000, 13)''')
# Customers Table
cursor.execute('''INSERT INTO Customers VALUES (31, 'Jared', 'Jared@gmail.com',	'Credit', 0, 11)''')
cursor.execute('''INSERT INTO Customers VALUES (32, 'Elia', 'Elia@gmail.com', 'Bitcoin', 20, 12)''')
cursor.execute('''INSERT INTO Customers VALUES (33, 'Grant', 'Grant@gmail.com',	'Cash', 25, 13)''')
cursor.execute('''INSERT INTO Customers VALUES (34, 'Bobby', 'Bobby@gmail.com', 'Debit', 10, 14)''')
cursor.execute('''INSERT INTO Customers VALUES (35, 'Eli', 'Eli@gmail.com',	'Bitcoin', 50, 15)''')
cursor.execute('''INSERT INTO Customers VALUES (36, 'Dexter', 'Dexter@gmail.com','Cash', 0, 0)''')
cursor.execute('''INSERT INTO Customers VALUES (37, 'Rick', 'Rick@gmail.com','Bitcoin', 0, 0)''')
cursor.execute('''INSERT INTO Customers VALUES (38, 'Morty', 'Morty@gmail.com','Bitcoin', 0, 0)''')
# Product Table
cursor.execute('''INSERT INTO Product 	VALUES (41, 'Headphones', 300, 51, 0)''')
cursor.execute('''INSERT INTO Product 	VALUES (42, 'Laptops', 400, 52, 20)''')
cursor.execute('''INSERT INTO Product 	VALUES (43, "TV\'s", 250, 53, 25)''')
cursor.execute('''INSERT INTO Product 	VALUES (44, 'Mice', 100, 54, 10)''')
cursor.execute('''INSERT INTO Product 	VALUES (45, 'Keyboards', 100, 55, 50)''')
# Suppliers Table
cursor.execute('''INSERT INTO Suppliers VALUES (51, 'Microsoft', '501 Street Rd', 'Microsoft@Microsoft.com',  0)''')
cursor.execute('''INSERT INTO Suppliers VALUES (52, 'Amazon', '502 Street Rd', 'Amazon@Amazon.com', -1000)''')
cursor.execute('''INSERT INTO Suppliers VALUES (53, 'Jaybird', '503 Street Rd', 'Jaybird@Jaybird.com', 1000)''')
cursor.execute('''INSERT INTO Suppliers VALUES (54, 'Asus', '504 Street Rd', 'Asus@Asus.com', 5500)''')
cursor.execute('''INSERT INTO Suppliers VALUES (55, 'Logistics', '505 Street Rd', 'Logistics@Logistics.com', -5000)''')
connectionToDatabase.commit()

#ERD Diagram
We did not change our ERD.
![](./Best_Buy_ERD.png)

#**Questions**

###**Question 1**
What is the total Suppliers balance, what is total revenue from sold units, and what is the company balance (without customers store credit and worker's salaries)?

In [2]:
cursor.execute('''SELECT SUM(Balance) FROM Suppliers''')
for suppliers_balance_index in cursor.fetchall():
  suppliers_balance = suppliers_balance_index[0]
  print ('Our total suppliers balance is:', suppliers_balance)

cursor.execute('''SELECT SUM(Retail_Price*Unit_Sold) FROM Product''')
for total_revenue_index in cursor.fetchall():
  total_revenue = total_revenue_index[0]
  print ('Our total revenue from sold units is:', total_revenue)

print ('Our total company balance is:', total_revenue+suppliers_balance)

Our total suppliers balance is: 500.0
Our total revenue from sold units is: 20250.0
Our total company balance is: 20750.0

#####**Question 1 Explanation**
To keep our profits high and to make sure we do not go into too high debt to any supplier, we would need to keep track of our total debt to our suppliers.

In addition, we would want to know what is our total revenue from selling products. like that we will be able to make sure that our total balance (which is the sum of our suppliersâ€™ debt and our revenues) is not negative.

Meaning, that our company is profitable.

--------------------------------------------------------------------------

###**Question 2**

What are the 3 products from which we have earned the highest revenue, what are their names, retail prices, number of units sold and what is the total revenue from each one?

In [3]:
cursor.execute('''SELECT Name, Retail_Price, Unit_Sold FROM Product ORDER BY (Retail_Price*Unit_Sold) DESC LIMIT 3''')
for top_product in cursor.fetchall():
	product_name = top_product[0]
	retail_price = top_product[1]
	units_sold = top_product[2]
	print ('Product Name:',product_name, ', Retail price:', retail_price, ', Number of units sold:',units_sold,', The total revenue is:',retail_price*units_sold, '.')

Product Name: Laptops , Retail price: 400.0 , Number of units sold: 20 , The total revenue is: 8000.0 .
Product Name: TV's , Retail price: 250.0 , Number of units sold: 25 , The total revenue is: 6250.0 .
Product Name: Keyboards , Retail price: 100.0 , Number of units sold: 50 , The total revenue is: 5000.0 .

#####**Question 2 Explanation**
Our company would want to know what products are our most profitable, to put them in different locations in the store and make special offers for those procducts with other products. 

Which will make our customers spend more time in our store and see as much as possible products in our store.

--------------------------------------------------------------------------



###**Question 3**
what are the top 2 prefered payment method of our customers?
and for the top prefered payment method, what are the names of all of the users that prefer that paynemt method?

In [4]:
cursor.execute('''SELECT Payment_Method, COUNT(Payment_Method) FROM Customers GROUP BY Payment_Method LIMIT 2''')
for top_payment_method_index in cursor.fetchall():
	top_payment_method = top_payment_method_index[0]
	num_of_customers = top_payment_method_index[1]
	print ('Payment method: ', end ="")
	print (top_payment_method, end="")
	print (', Number of customers that use this method: ', end ="")
	print (num_of_customers, end="")
	print ('.')

Payment method: Bitcoin, Number of customers that use this method: 4.
Payment method: Cash, Number of customers that use this method: 2.

#####**Question 3 Explanation**
One of the most important things, and maybe The most important thing, for a corporate is high customer satisfaction.

As a result, our company will want to know as much information as possible about our customers, by knowing how our customers prefer to pay we will be able to make the most preferable payment methods easier to execute, or to make the most preferable method as the default option when our users make a purchase.

--------------------------------------------------------------------------